<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%=title%>
    </title>
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navigation')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ratione nesciunt alias sapiente inventore iusto obcaecati, non sit aut, vel itaque suscipit atque veniam nobis at quasi ipsam quia? Vel, animi. Illum ipsa, commodi laborum quas soluta consequatur numquam consectetur temporibus ad impedit, deserunt corrupti? Laboriosam sunt architecto nihil expedita error, ad ipsa hic dicta corrupti suscipit adipisci, officiis nam repellat rem quidem ab dolorum animi id iure quas in maxime sapiente. Impedit suscipit, adipisci consectetur perferendis repellendus itaque fugit, magni corrupti, eius nemo qui pariatur blanditiis corporis? Maiores sapiente nisi voluptatem dolores molestias commodi fuga obcaecati maxime, nesciunt magni saepe, laborum corrupti, nobis iusto ullam? Eveniet ut natus itaque ea dolorum ipsam nihil pariatur at vitae minima reiciendis laudantium officia, tenetur perspiciatis quis! Neque, vero velit cumque ea praesentium reprehenderit alias. Quae, accusamus ea, cumque tenetur dolore quaerat aspernatur obcaecati nesciunt, velit nisi unde similique praesentium? Modi eligendi molestiae iste sunt ducimus ex soluta eaque hic provident? Fugiat at unde reiciendis veniam voluptatibus? A sapiente reprehenderit quod explicabo, excepturi labore ab cum expedita eaque fugiat quos. Assumenda, tenetur at maxime quibusdam provident exercitationem, eius veniam fuga dolor dicta dolorum, iusto quasi voluptas odit itaque atque saepe deserunt neque quae?</p>
      </section>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
